html {
  background: -webkit-gradient(linear, left bottom, left top, from(#6565e7), to(#af67e9));
  background: linear-gradient(0deg, #6565e7 0%, #af67e9 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  color: #1d1e35;
  font-size: 14px;
}

#card {
  margin: 16% auto 10%;
  width: 64%;
  height: auto;
  min-width: 800px;
  max-width: 1150px;
  min-height: 510px;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-shadow: 0px 25px 35px rgba(29, 30, 53, 0.37);
          box-shadow: 0px 25px 35px rgba(29, 30, 53, 0.37);
}

#card #box-img {
  position: absolute;
  top: 187px;
  left: -93px;
  z-index: 1;
}

#img-box {
  min-width: 400px;
  position: relative;
  overflow: hidden;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-position: 100% 75%;
  background-size: 200%;
  background-repeat: no-repeat;
}

#img-box #image {
  position: absolute;
  left: -20%;
  top: 10%;
}

#img-box #mobile-img {
  display: none;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  margin: 0px 0 30px 0;
}

/* faq box styles */
#faq-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 5% 7%;
}

.faq-head {
  color: #4a4b5e;
}

.faq-text {
  color: #787887;
}

.arrow {
  float: right;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.text-hide {
  height: auto !important;
  max-height: 100px !important;
}

.text-hide .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq-boxes {
  margin: 10px;
  overflow: hidden;
  border-bottom: 2px solid #e7e7e9;
  margin: 10px 0;
  max-height: 30px;
  -webkit-transition: 400ms linear;
  transition: 400ms linear;
}

.faq-open {
  cursor: pointer;
}

.faq-open:hover {
  color: #f47c57;
}

.bold-text {
  font-weight: 700;
  color: #1d1e35;
}

.attribution {
  font-size: 25px;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
}

.attribution a {
  text-decoration: none;
  color: #0abe9d;
}

.attribution a:hover {
  color: #43c2df;
}

/* MOBILE VERSION */
@media (max-width: 850px) {
  #card {
    margin-top: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 87%;
    min-width: 260px;
  }
  #card #img-box {
    height: 110px;
    min-width: auto;
    position: relative;
    overflow: visible;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  #card #img-box #mobile-img {
    display: block;
    position: absolute;
    top: -100%;
    left: -30px;
    margin: auto;
    right: 0;
  }
  #card #img-box #image {
    display: none;
  }
  #box-img {
    display: none;
  }
  #faq-box {
    width: auto;
  }
  #faq-box h1 {
    text-align: center;
  }
  .attribution {
    font-size: 15px;
  }
}

@media (max-width: 410px) {
  .faq-head {
    font-size: 11px;
  }
  .faq-text {
    font-size: 10px;
  }
  .attribution {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */